@media (max-width:600px) {
    body{
        position: relative;
        overflow-x: hidden;
    }
    nav{
        padding: 0 30px;
    }
    .social-links{
        display: none;
    }
    #bars{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        backdrop-filter: blur(4px);
        padding: 30px 100px;
        transition: 0.5s;
        transform: translateX(-100%);
        background: yellow;
        /* display: none; */
    }
    .show{
        background: var(--gradient-color);
        transform: translate(0);
        /* display: block; */

    }
    .nav-links a {
        display: block;
        margin-bottom: 13px;
        text-align: center;
    }
    .banner-box>h3,.text-yellow {
        font-size: 2rem;
        margin-top: 20px;
    }
}